@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html{
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Josefin Sans', sans-serif;
}
main{
	height: 100vh;
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
header{
	display: flex;
	justify-content: space-between;
	background: #A67449;
	position: fixed;
	top: 0px;
	width: 100%;
	align-items: center;
	z-index: 1;
}
header div{
	display: flex;
	align-items: center;
}
header a{
	text-decoration: none;
	color: #D9B596;
}
header nav ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
header nav ul a{
	padding: 20px 30px;
	font-size: 1.5em;
	transition: background 0.5s;
}
header nav ul a:hover{
	background: #401801;
	color: ghostwhite;
}
#logo-img{
	height: 60px;
	margin: 0px 0px 0px 30px;
	transition: 1.5s;
}
#logo-img:hover{
	transform: rotate(360deg);
}
.opacity{
	background: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}
main h1{
	font-size: 4em;
	color: white;
	text-shadow: 0 0 20px #401801;
	margin-bottom: 0px;
}
main h2{
	margin-top: 0px;
	font-size: 2em;
	color: white;
	margin-left: 8px;
}
#w-button{
	position: fixed;
	height: 50px;
	bottom: 30px;
	right: 30px;
	border-radius: 50%;
	transition: .2;
	animation-name: patata;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	z-index: 2;
}
@keyframes patata{
	0%{
		transform: scale(1.0);
	}
	20%{
		transform: scale(1.4);
	}
	40%{
		transform: scale(1.0);
	}
}
#productos{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(0deg,#FFD5BD,#FFEEE3);
}
#b{
	height: 400px;
	width: 600px;
}
h2{
	margin-top: 12vh;
	font-size: 3em;
	color: #401801;
	text-align: center;
}
#productos-grid{
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-auto-rows: 400px;
	grid-gap: 30px;
	padding-bottom: 100px;
}
.grid-item{
	text-align: center;
	overflow: hidden;
	color: #A67449;
}
.grid-item img{
	width: 90%; 
	height: 90%;
	object-fit: cover;
	margin: auto;
	border-radius: 4px;

}
.grid-item h3{
	border-bottom: solid #401801 1px;
	color: #401801;
	font-size: 1.5em;
	margin: 5px;
}
footer{
	display: flex;
	background: #401801;
	height: 60px;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #D9B596;
}
#contacto{
	height: 100vh;
	background: url(../img/fondo2.jpg) no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#map{
}
#contacto div{
	flex-basis: 30vw;
	text-align: center;
}
#icon-container{
	display: flex;
	justify-content: space-evenly;
}
.red-social{
	height: 50px;
	transition: .2s;
}
#contacto div h3{
	color: white;
}
.red-social:hover{
	transform: scale(1.5);
}
#contacto-div{
	background: rgba(217, 181, 150, .5);
	border-radius: 30px;
}
#nosotros{
	display: flex;
	height: 100vh;
	background: linear-gradient(0,rgba(217, 181, 150, 1.0),#fbdec3) ;
	justify-content: space-around;
	align-items: center;
}
#nosotros div div div{
	display: flex;
}
#nosotros h2{
	margin-bottom: 0;
}
#nosotros p{
	margin: 0;
}
#gato{
	height: 400px;
	width: 400px;
	object-fit: cover;
	margin: 50px auto;
	border-radius: 40px;
}
#icon-exp{
	height: 50px;
}
#sub{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#sub2{
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media(max-width: 787px){
	#b{
		width: 80%;
		height: 160px;
		margin-bottom: 60px;
	}
	.grid-item p{
		margin: 0;
		height: 40px;
	}
	header{
		flex-direction: column;
		align-items: center;
		width: 100vw;
		height: 60px;
		overflow: hidden;
	}
	#logo-img{
		margin: 0;
	}
	header:hover{
		height: auto;
	}
	header ul{
		flex-direction: column;
	}
	header nav ul a{
		padding: 5px 0;
		text-align: center;
	}
	nav{
		width: 100%;
	}
	#logo-link{
		display: none;
	}
	#nosotros h2{
		margin-top:120px;
		font-size: 20px;
	}
	#nosotros{
		flex-direction: column;
		height: auto;
	}
	#productos-grid{
	display: grid;
	grid-template-columns: repeat(2, 45vw);
	grid-auto-rows: 1fr;
	grid-gap: 30px;
	padding-bottom: 100px;
    }
    #contacto{
		flex-direction: column;
		height: auto;
		background-attachment: fixed;
		background-position: center;
	}
	#contacto-div{
		margin-top: 80px;
	}
	main{
		background-position: center;
	}
	#gato{
		height: 50vh;
		width: 80vw;
	}
	#c{
		width: 100%;
		margin-bottom: 60px;
	}
}
@media(max-width: 1026px) and (min-width: 787px){
	#productos-grid{
	grid-template-columns: repeat(3, 30vw);
	grid-auto-rows: 1fr;
    }
    #nosotros h2{
		margin-top:120px;
		font-size: 20px;
	}
	#nosotros{
		flex-direction: column;
		height: auto;
	}
}